<!DOCTYPE html>
<html>
  <head>
    <title>Tictactoe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% unless @game.blank? %><script type="text/javascript">var game_id = <%= @game.id %></script><% end %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type,msg| %>
      <p><strong><%= type.humanize %>:</strong> <%= msg %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
